*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    box-sizing: border-box;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    background-color: #C2E7FF;
    height: 100vh;
    position: sticky;
    top:0;
}
nav>a{
    display: flex;
    justify-content: center;
}
nav img{
    width: 5.5rem;
    height: 5.5rem;
    margin-top: 1rem;
}
nav ul{
    padding: 0px;
    margin: 1rem;
}
nav ul li{
    list-style: none;
    font-family: Arial, sans-serif;
    margin: 0.5rem;
}
nav ul li a{
    color: black;
    text-decoration: none;
    display: block;
}
nav ul li a i{
    padding: 0.5rem;

    width: 30%;
}
nav ul li:hover{
    background-color: rgb(247, 245, 245);
    border-radius: 20px;
}
.active{
    background-color: white;
    border-radius: 20px;
}
/* navbar */